.row {
  margin-top: 60px;
}
.btn-success {
  color: #fff;
  background-color: #3b5d92;
  border-color: #336d82;
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    background-color: #007bff;
    color: rgba(255,255,255,.6);
    margin-top: 6px;
}
footer.page-footer a {
    color: #fff;
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}
