<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Paquete Turistico</a>
    </div>
</nav>

<div class="row">
<div class="container">
  <!--<h1>Hero Form</h1>-->

  {{diagnostic}}

  <form class="form-horizontal" (ngSubmit)="heroForm.form.valid && onSubmit()" #heroForm="ngForm" novalidate>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text"
             class="form-control"
             id="nombre"
             name="nombre"
             [(ngModel)]="model.nombre"
             #nombre = "ngModel"
             [ngClass]="{'is-invalid':heroForm.submitted && nombre.invalid}"
             placeholder="Ingrese Nombre Paquete Turistico"
             minlength="4" maxlength="40"
             required>
      <div class="invalid-feedback">
        <div>Campo requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="number"
             min="0"
             value="0"
             step=".01"
             class="form-control"
             id="precio"
             name="precio"
             [(ngModel)]="model.precio"
             #precio = "ngModel"
             [ngClass]="{'is-invalid':heroForm.submitted && precio.invalid}"
             placeholder="0000.00"
             required>
      <div class="invalid-feedback">
        <div>Campo requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <textarea name="descripcion"
                class="form-control"
                id="descripcion"
                cols="30" rows="10" maxlength="200"
                [(ngModel)]="model.descripcion"
                #descripcion = "ngModel"
                [ngClass]="{'is-invalid':heroForm.submitted && descripcion.invalid}"
                required></textarea>
      <div *ngIf="heroForm.submitted && descripcion.invalid" class="invalid-feedback">
        <div *ngIf="descripcion.errors.required">Campo requerido</div>
      </div>
    </div>

      <div class="form-group">
        <label for="fotos">Seleccionar Archivo</label>
        <input type="file"
               class="form-control-file border"
               id="fotos"
               name="fotos[]"
               multiple
               (change)="onFileChange($event)">
      </div>

    <button type="submit" class="btn btn-success">Guardar</button>

  </form>
</div>
</div>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#">turismo Bolivia</a>
  </div>
</footer>
